body {
  background-color: hsl(240, 15%, 15%);
}

.yin-yang {
  --size: 200px;
  --size2: calc(var(--size) / 2);

  width: var(--size);
  height: var(--size);
  border: 5px solid black;
  border-radius: 50%;
  margin: 100px auto;

  background-image: radial-gradient(
      var(--size2) circle at 50% 25%,
      black 10%,
      transparent 10%
    ),
    radial-gradient(var(--size2) circle at 50% 75%, white 10%, transparent 10%),
    radial-gradient(var(--size2) circle at 50% 25%, white 50%, transparent 50%),
    radial-gradient(var(--size2) circle at 50% 75%, black 50%, transparent 50%),
    linear-gradient(to left, black 50%, white 50%);

  /* background-image: radial-gradient(
      var(--size2) circle at 40% 15%,
      white 50%,
      transparent 50%
    ),
    radial-gradient(var(--size2) circle at 40% 85%, black 50%, transparent 50%),
    linear-gradient(to left, black 50%, white 50%); */
}
